@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'tw-animate-css';
@plugin "@kobalte/tailwindcss";
@plugin "tailwindcss-motion";
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *, [data-kb-theme=dark], [data-kb-theme=dark] *));

:root {
	--background: oklch(0.9821 0 0);
	--foreground: oklch(0.2435 0 0);
	--card: oklch(0.9911 0 0);
	--card-foreground: oklch(0.2435 0 0);
	--popover: oklch(0.9911 0 0);
	--popover-foreground: oklch(0.2435 0 0);
	--primary: oklch(0.4341 0.0392 41.9938);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.92 0.0651 74.3695);
	--secondary-foreground: oklch(0.3499 0.0685 40.8288);
	--muted: oklch(0.9521 0 0);
	--muted-foreground: oklch(0.5032 0 0);
	--accent: oklch(0.931 0 0);
	--accent-foreground: oklch(0.2435 0 0);
	--destructive: oklch(0.6271 0.1936 33.339);
	--destructive-foreground: oklch(1 0 0);

	--info: oklch(0.95 0.024 236.81);
	--info-foreground: oklch(0.68 0.148143 238.1044);
	--success: oklch(0.95 0.0506 162.83);
	--success-foreground: oklch(0.69 0.1481 162.37);
	--warning: oklch(0.96 0.0569 95.61);
	--warning-foreground: oklch(0.71 0.186 48.13);
	--error: oklch(0.93 0.0314 17.73);
	--error-foreground: oklch(0.64 0.2082 25.38);

	--border: oklch(0.8822 0 0);
	--input: oklch(0.8822 0 0);
	--ring: oklch(0.4341 0.0392 41.9938);
	--chart-1: oklch(0.4341 0.0392 41.9938);
	--chart-2: oklch(0.92 0.0651 74.3695);
	--chart-3: oklch(0.931 0 0);
	--chart-4: oklch(0.9367 0.0523 75.5009);
	--chart-5: oklch(0.4338 0.0437 41.6746);
	--sidebar: oklch(0.9881 0 0);
	--sidebar-foreground: oklch(0.2645 0 0);
	--sidebar-primary: oklch(0.325 0 0);
	--sidebar-primary-foreground: oklch(0.9881 0 0);
	--sidebar-accent: oklch(0.9761 0 0);
	--sidebar-accent-foreground: oklch(0.325 0 0);
	--sidebar-border: oklch(0.9401 0 0);
	--sidebar-ring: oklch(0.7731 0 0);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark,
[data-kb-theme='dark'] {
	--background: oklch(0.1776 0 0);
	--foreground: oklch(0.9491 0 0);
	--card: oklch(0.2134 0 0);
	--card-foreground: oklch(0.9491 0 0);
	--popover: oklch(0.2134 0 0);
	--popover-foreground: oklch(0.9491 0 0);
	--primary: oklch(0.9247 0.0524 66.1732);
	--primary-foreground: oklch(0.2029 0.024 200.1962);
	--secondary: oklch(0.3163 0.019 63.6992);
	--secondary-foreground: oklch(0.9247 0.0524 66.1732);
	--muted: oklch(0.252 0 0);
	--muted-foreground: oklch(0.7699 0 0);
	--accent: oklch(0.285 0 0);
	--accent-foreground: oklch(0.9491 0 0);
	--destructive: oklch(0.44 0.16 27);
	--destructive-foreground: oklch(1 0 0);

	--info: oklch(0.28 0.0875 267.91);
	--info-foreground: oklch(0.68 0.148143 238.1044);
	--success: oklch(0.26 0.0487 172.54);
	--success-foreground: oklch(0.69 0.1481 162.37);
	--warning: oklch(0.29 0.0638 53.82);
	--warning-foreground: oklch(0.71 0.186 48.13);
	--error: oklch(0.26 0.0886 26.05);
	--error-foreground: oklch(0.64 0.2082 25.38);

	--border: oklch(0.2351 0.0115 91.7467);
	--input: oklch(0.4017 0 0);
	--ring: oklch(0.9247 0.0524 66.1732);
	--chart-1: oklch(0.9247 0.0524 66.1732);
	--chart-2: oklch(0.3163 0.019 63.6992);
	--chart-3: oklch(0.285 0 0);
	--chart-4: oklch(0.3481 0.0219 67.0001);
	--chart-5: oklch(0.9245 0.0533 67.0855);
	--sidebar: oklch(0.2103 0.0059 285.8852);
	--sidebar-foreground: oklch(0.9674 0.0013 286.3752);
	--sidebar-primary: oklch(0.4882 0.2172 264.3763);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2739 0.0055 286.0326);
	--sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
	--sidebar-border: oklch(0.2739 0.0055 286.0326);
	--sidebar-ring: oklch(0.8711 0.0055 286.286);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--kb-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--kb-accordion-content-height);
		}

		to {
			height: 0;
		}
	}

	@keyframes content-show {
		from {
			opacity: 0;
			transform: scale(0.96);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes content-hide {
		from {
			opacity: 1;
			transform: scale(1);
		}

		to {
			opacity: 0;
			transform: scale(0.96);
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}

		20%,
		50% {
			opacity: 0;
		}
	}

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-content-show: content-show 0.2s ease-out;
	--animate-content-hide: content-hide 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

@utility container {
	@apply px-8;

	@media (width >=--theme(--breakpoint-sm)) {
		@apply max-w-none;
	}

	@media (max-width: 640px) {
		@apply px-4;
	}
}

@utility step {
	counter-increment: step;

	&:before {
		@apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
		@apply mt-[-4px] ml-[-50px];
		content: counter(step);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground flex flex-col;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}

	:root,
	body {
		overscroll-behavior-y: contain;
		overflow: hidden;
		height: 100%;
	}
	a {
		cursor: default;
	}
	:where(.dark, [data-kb-theme='dark']) :where(.shiki, .shiki span) {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
	*::backdrop {
		backdrop-filter: blur(6px);
	}

	:root {
		overflow: scroll;
		scrollbar-width: thin;
		--spring-easing: linear(
			0,
			0.0038 0.85%,
			0.0308 2.55%,
			0.1065 5.11%,
			0.5361 15.32%,
			0.6611 18.73%,
			0.7405,
			0.8073,
			0.8619,
			0.9055 28.94%,
			0.9488,
			0.9782,
			0.997,
			1.0079 42.56%,
			1.014 46.82%,
			1.0144 53.63%,
			1.0056 68.1%,
			1.0018 77.46%,
			0.9998 99.59%
		);
		--spring-duration: 0.4847s;
	}

	:root:active-view-transition-type(slide-right) {
		&::view-transition-old(main-content) {
			animation: var(--spring-duration) var(--spring-easing) both slide-out-to-left;
		}
		&::view-transition-new(main-content) {
			animation: var(--spring-duration) var(--spring-easing) 90ms both slide-in-from-right;
		}
	}
	:root:active-view-transition-type(slide-left) {
		&::view-transition-old(main-content) {
			animation: var(--spring-duration) var(--spring-easing) both slide-out-to-right;
		}
		&::view-transition-new(main-content) {
			animation: var(--spring-duration) var(--spring-easing) 90ms both slide-in-from-left;
		}
	}

	@keyframes slide-in-from-left {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes slide-in-from-right {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes slide-out-to-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes slide-out-to-right {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(100%);
		}
	}
}

@layer utilities {
	.content-grid {
		--padding-inline: 1rem;
		--content-max-width: 1440px;
		--breakout-max-width: 1920px;

		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns:
			[full-width-start] minmax(var(--padding-inline), 1fr)
			[breakout-start] minmax(0, var(--breakout-size))
			[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
			[content-end]
			minmax(0, var(--breakout-size)) [breakout-end]
			minmax(var(--padding-inline), 1fr) [full-width-end];
	}

	.content-grid > :not(.breakout, .full-width),
	.full-width > :not(.breakout, .full-width) {
		grid-column: content;
	}

	.content-grid > .breakout {
		grid-column: breakout;
	}

	.content-grid > .full-width {
		grid-column: full-width;

		display: grid;
		grid-template-columns: inherit;
	}

	.box {
		display: -webkit-box;
	}
}

.hljs {
	background: #0a0a0a !important;
	padding: 0 !important;
}
